version: "3.3"
services:
  artipie:
    image: artipie/artipie:v0.23.10
    container_name: artipie
    restart: unless-stopped
    environment:
      - ARTIPIE_USER_NAME
      - ARTIPIE_USER_PASS
      - ARTIPIE_SESSION_KEY
      - TKN_KEY
    volumes:
      - /var/artipie:/var/artipie
      - ./artipie.yml:/etc/artipie.yml
    networks:
      - artipie-net
  front:
    image: artipie/front:v0.0.4
    container_name: front
    restart: unless-stopped
    volumes:
      - /var/artipie:/var/artipie
      - ./artipie.yml:/etc/artipie/artipie.yml
    networks:
      - artipie-net
    environment:
      - TKN_KEY
  central-auth:
    build:
      context: ./login
      dockerfile: Dockerfile
    container_name: central-auth
    environment:
      - OAUTH_CLIENT
      - OAUTH_SECRET
      - SESSION_KEY
    volumes:
      - /var/artipie/keys:/var/artipie/keys
    networks:
      - artipie-net
  nginx:
    image: nginx:1.17.10-alpine
    container_name: nginx
    depends_on:
      - artipie
      - central-auth
    restart: unless-stopped
    networks:
      - artipie-net
    volumes:
      - ./www:/var/www
      - ./nginx.conf:/etc/nginx/nginx.conf
      - ./data/certbot/conf:/etc/letsencrypt
      - ./data/certbot/www:/var/www/certbot
    ports:
      - "80:80"
      - "443:443"
  certbot:
    image: certbot/certbot
    restart: unless-stopped
    volumes:
      - /home/artipie/central/data/certbot/conf:/etc/letsencrypt
      - /home/artipie/central/data/certbot/www:/var/www/certbot
    entrypoint: "/bin/sh -c 'trap exit TERM; while :; do certbot renew; sleep 12h & wait $${!}; done;'"
networks:
  artipie-net:
    driver: bridge
