name: "Deploy Artipie"
on: [push]
jobs:
  deploy:
    runs-on: [self-hosted]
    environment: Prod
    steps:
      - uses: actions/checkout@v2.3.4
      - name: Deploy to Server
        env:
          http_proxy: "http://localhost:3128"
        run: |
          rsync -r $GITHUB_WORKSPACE/* ${{ secrets.REMOTE_HOST }}:${{ secrets.REMOTE_TARGET }} -v
          ssh ${{ secrets.REMOTE_HOST }} "./restart.sh"
